<div class="users_forgot_password">
  <h1>Восстановление  пароля</h1>
  <%= flash_messages %>
  <div class="hint">
    Введите Ваш Login или E-mail для восстановления пароля.
    На Ваш почтовый ящик будут высланы инструкции по восстановлению пароля.
  </div>
  <%= form_tag do -%>
    <p><label for="login">Login или E-mail:</label>
    <%= text_field_tag 'login', params[:login] %>
    <p><%= submit_tag 'Запросить восстановление пароля' %>
  <% end -%>
</div>
