<div class="users_welcome">
    <p>
      Приветствуем Вас на нашем сайте. Вы можете начать работу:
    </p>

    <p>
      <input type="button" value="Редактировать профиль"  onclick="document.location.href='<%= url_for( :action=>'edit') %>';return true;"/>
    </p>
</div>
