<div class="index" style="height: 310px">
<b>
<div align="center">
Мы рады Вас видеть на нашем сайте!
</div>

<p>Здесь Вы можете ознакомиться со <%= link_to "списком пропавших без вести", :controller=>'/db' %>
на территории Северного Кавказа 
в период с 1991г. по настоящее время, 
<%= link_to "получить информацию", :controller=>'home', :action=>'urgent_links' %>  
о порядке действий при пропаже или похищении родственника или знакомого 
и <%= link_to "оставить  объявление о розыске", :controller=>'person' %>.</p>
</b>
</div>

