<table>
  <tr>
    <td class="radio_input">
      <input type="radio" name="lost_image[fitem_action]" value="nochange" id="lost_image_fitem_action_nochange" checked />
    </td>
    <td>
      <label for="lost_image_fitem_action_nochange">Не менять фото</label>
    </td>
  </tr>
  <tr>
    <td class="radio_input">
      <input type="radio" name="lost_image[fitem_action]" value="upload" id="lost_image_fitem_action_upload" />
    </td>
    <td>
      <label for="lost_image_fitem_action_upload">Загрузить новое фото<br />
        <input type="file" name="lost_image[file]" value="" id="lost_image_file" />
        <div class="hint">(Большие картинки будут уменьшены до размера 200x300)</div>
      </label>
    </td>
  </tr>
  <tr>
    <td class="radio_input">
      <input type="radio" name="lost_image[fitem_action]" value="reset" id="lost_image_fitem_action_reset" />
    </td>
    <td>
      <label for="lost_image_fitem_action_reset">Удалить фото</label>
    </td>
  </tr>
</table>

