<% @lc_group = 'user' %>
<div class="enter">
    <h1>Забыли пароль</h1>

<%= form_tag do -%>
  <%= flash_messages %>

    <h3>Вам будет выслано письмо с инструкциями</h3>

  <div class="field">
    <label for="login" class="float">E-mail:</label>
    <%= text_field_tag 'login', params[:login] %>
  </div>

  <div class="field">
    <%= submit_tag 'Восстановить пароль' %>
  </div>
<% end -%>
</div>
</div>
