<div class="padder tou">
<h2>УСЛОВИЯ ПОЛЬЗОВАНИЯ</h2>
<ol>
  <li>Все авторские права на программный код Веб-сайта FINERADIO.COM (далее Веб-Сайт) принадлежат компании ООО "Медиасфера" и Группе разработчиков Веб-Сайта.</li>
  <li>Пользователи, выразившие свое согласие с условиями данных Условий Пользования имеют право использовать данную версию Веб-Сайта в некоммерческих целях бесплатно.</li>
  <li>Веб-Сайт и весь информационный содержательный контент, транслируемый через Веб-Сайт предназначены для некоммерческого использования.</li>
  <li>Весь информационный содержательный контент, транслируемый через Веб-Сайт предназначен для ознакомительного прослушивания.</li>
  <li>Для коммерческого использования Веб-Сайта необходимо связаться с правообладателями Веб-Сайта.</li>
  <li>Авторы оставляет за собой право отменить действие данной лицензии для любой из следующих версий Веб-Сайта.</li>
  <li>Пользование Веб-Сайтом предоставляется свободно, при условии того, что его содержание а также программный код сайта не подвергнут изменению. Ни одно частное лицо или организация не может брать плату за распространение Веб-Сайта или ретрансляцию контента Веб-Сайта без письменного разрешения правообладателя.</li>
  <li>Политика конфиденциальности:
	  <ul>
      <li>Ввод личных данных на Веб-Сайте является полностью добровольным. Предоставленные личные данные пользователя не будут передаваться и каким-либо образом использоваться третьими лицами.</li>
      <li>Данные о музыкальных вкусах пользователей (под псевдонимом) доступны общественности для некоммерческого использования.</li>
      <li>Авторы сохраняют за собой право продавать или лицензировать хит-парады музыкальных предпочтений пользователей Веб-Сайта для коммерческого использования. При этом гарантируется, что ни в каком случае личные данные пользователей не будут предоставлены третьим лицам.</li>
    </ul>
	</li>
  <li>Запрещено использовать, копировать, эмулировать, создавать новые версии, сдавать в наем или аренду, продавать, изменять, декомпилировать, дизассемблировать, изучать программный код Веб-Сайта другими способами, передавать программный код Веб-Сайта или любые из его составляющих, иначе, чем определено данными Условиями Пользования. Любое такое нелегальное использование означает автоматическое и немедленное прекращение действия данных Условий Пользования и может преследоваться по закону.</li>
  <li>Все права, не предоставленные здесь явно, сохраняются за ООО "Медиасфера" и Группой разработчиков Веб-Сайта.</li>
  <li>Регистрация на сайте и использование Веб-Сайта означает, что вы понимаете положения данных Условий Пользования и согласны с ними.</li>
  <li>Если почему-либо вы не согласны с данными Условиями Пользования, вам необходимо прекратить использование Веб-Сайта. </li>
</ol>
<blockquote>
	<p>Благодарим за выбор FINERADIO.COM.</p>
	<p>ООО "Медиасфера"и Группа разработчиков FINERADIO.COM</p>
</blockquote>
</div>
