<% case @report.report_type -%>
<% when 'bug' -%>
  <div id="report_edit" class="report_bug">
    <%= render :file => 'reports/report_bug' %>
  </div>
<% when 'info' -%>
  <div id="report_edit" class="report_info">
    <%= render :file => 'reports/report_info' %>
  </div>
<% end -%>
