<div id="footer">
 <div align="left">
    &copy;
    Миротворческая Миссия имени генерала Лебедя (ММГЛ)
  </div>
  <div align="right" class="feedback">
    <%= link_to "обратная связь &Gt;".html_safe, new_report_path %>
  </div>
</div>
