<div id="header">
<span class="title">
Розыск пропавших без вести на Северном Кавказе
</span>
<span class="subtitle">
Центр гражданского содействия розыску<br> пропавших без вести (ЦГСР) на Северном Кавказе<br>
при Миротворческой миссии имени генерала Лебедя (ММГЛ)
</span>
</div>
