<!--Rating@Mail.ru COUNTEr--><a target="_top" 
href="http://top.mail.ru/jump?from=1446956"><img
src="http://d4.c1.b6.a1.top.list.ru/counter?id=1446956;t=55"
border="0" height="31" width="88"
alt="Рейтинг@Mail.ru"/></a><!--/COUNTER-->
